.account-details-main-container {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.account-details-content-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.account-details-content-posts-container {
    width: 40%;
    height: 100vh;
    border: 1px solid white;
}

.account-details-content-profile-container {
    width: 60%;
    border: 1px solid white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-details-divider {
    border: none;
    border-top: 1px solid #ccc; /* adjust color as needed */
    width: 90%; /* or a custom width */
    margin-top: 0.5rem;
}

.account-details-content-profile-top-content {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.5rem;
}

.account-details-content-profile-buttons-bar {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top:0.7rem;
    margin-bottom: 0;
}

.account-details-edit-profile-button {
    font-size: var(--font-sm);
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    transition: 0.2s ease-in-out;
}
.account-details-edit-profile-button:hover{
    background-color: rgb(255,255,255,0.2);
}

.account-details-add-new-post-button {
    font-size: var(--font-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    width: fit-content;
    padding: 0 0.6rem 0 0.4rem;
}


.account-details-delete-profile-button {
    font-size: var(--font-sm);
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    transition: 0.2s ease-in-out;
}
.account-details-delete-profile-button:hover{
    background-color: rgb(255,0,0,0.5);
}


.account-details-content-analysis-container{
    /*background-color: red;*/
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.account-details-content-analysis-button{
    font-size: var(--font-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}
.account-details-content-analysis-button:hover{
    background-color: #00b5ff;
}

.account-details-profile-image{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
}
.account-details-content-profile-details{
    width: 100%;
    margin-top: 0.2rem;
}
.account-details-content-profile-details-numbers{
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.account-details-content-profile-details-username{
    font-size: var(--font-md);
}
.account-details-content-profile-details-no{
    font-size: var(--font-sm);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
.account-details-content-profile-details-description{
    font-size: var(--font-sm);
    width: 100%;
    margin-top: 0.5rem;
}