
.about-main-container{
    display: flex;
    flex-direction: row;
    gap: 0;
}
.about-content-container {
    margin: 13rem 5rem;
    width: 100%;
    justify-items: center;
}

.about-content-title{
    font-size: var(--font-xl); /*20px*/
    font-style: italic;
    display: flex;
    justify-content: center;
}

.about-content-description{
    font-size: var(--font-sm);
    font-style: italic;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container-texts{
}