.add-account-wizard-main-container {
    display: flex;
    flex-direction: row;
    gap: 0;
}
.add-account-wizard-content-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
}
