.register-main-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    color: white;
}
.register-top-titles{
    width: 100% ;
    justify-items: center;
    margin-top: 4rem;
}
.register-top-titles-up{
    color: #00b5ff;
    font-size: var(--font-xxl); /*30px*/

}
.register-top-titles-down{
    color: white;
    font-size: var(--font-md); /*14px*/
}
.register-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.register-content-container-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.register-input{
    font-size: var(--font-sm); /*11px*/
    border-radius: 20px;
    padding: 0.4rem 0.7rem;
    border: 1px solid white;
    width: 13rem;
    margin: 0.4rem;
}

.register-content-register-text{
    font-size: var(--font-sm); /*11px*/
}
.register-login-button{
    font-size: var(--font-sm); /*11px*/
    color: #00b5ff;
    background-color: black;
}
.register-login-button:hover{
    color: #008cc6;
}


.register-home-button-bar{
    width: 100%;
}
.register-home-button{
    display: flex;
    align-items: center;
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
}
.register-home-img{
    margin-left: 1px;
}

.register-divider {
    border: none;
    border-top: 1px solid #ccc; /* adjust color as needed */
    margin: 16px 0; /* spacing above and below */
    width: 6rem;    /* or a custom width */
}