
/*BAR CONTAINER*/
.insta-icons-bar-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
}


/* STYLE FOR ICON IN THE INSTA BAR ICON */
.insta-icons-bar-icon {
    /*width: 20px;*/
    /*height: 20px;*/
    width: 1.3rem;
    height: 1.3rem;
}
