.custom-alert-container{
    position: fixed;
    width: 100%;
    color: white;
    height: 100%;
    background-color: rgb(255,255,255,0.05);
    justify-items: center;
    align-content: center;
    z-index: 10000;
}

.custom-alert-content{
    background-color: black;
    width: auto;
    height: auto;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-alert-header{
    font-size: var(--font-md);
}

.custom-alert-message{
    margin-top: 0.3rem;
    color: white;
    font-size: var(--font-sm);
}

.custom-alert-close-button-container{
}

.custom-alert-close-button{
    margin-top: 0.8rem;
    color: white;
}