.account-details-item{
    /*background-color: red;*/
    color: white;
    width: 30vw;
}
@media (max-width: 1350px) {
    .account-details-item{
        /*background-color: red;*/
        width: 40vw;
    }
}
@media (max-width: 850px) {
    .account-details-item{
        /*background-color: red;*/
        width: 80vw;
    }
}

.account-details-item-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
}
.account-details-item-photos-container{
    margin-top: 1rem;
    position: relative;
    width: 100%;
}
.account-details-item-photo{
    min-width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.account-details-item-photo-image{
    max-height: 300px;
}
.account-details-item-edit-post-button{
    color: white;
    font-size: var(--font-sm);
    background-color: rgb(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem 0.7rem 0.3rem 0.5rem;
    border-radius: 20px;
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    transition: 0.2s ease-in-out;
    border: 1px solid white;
}
.account-details-item-edit-post-button:hover {
    background-color: rgb(0,0,0,0.8);
}

.account-details-item-arrow-back-button:hover {
    background-color: rgb(0,0,0,0.8);
}

.account-details-item-arrow-back-icon{

}
.account-details-item-arrow-forward-button, .account-details-item-arrow-back-button{
    font-size: var(--font-sm);
    background-color: rgb(0,0,0,0.5);
    display: flex;
    border: 1px solid white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 20px;
    position: absolute;
    transition: 0.2s ease-in-out;
    top: 50%; /* Vertically center */
    transform: translateY(-50%); /* Adjust position up by 50% of height */
}
.account-details-item-arrow-back-button{
    left: 0.3rem;
}
.account-details-item-arrow-forward-button{
    right: 0.3rem;
}

.account-details-item-arrow-forward-button:hover{
    background-color: rgb(0,0,0,0.8);
}
.account-details-item-arrow-forward-icon{

}
.account-details-item-no-comments-likes-container{
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
}
.account-details-item-no-likes-container{
    font-size: var(--font-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}
.account-details-item-no-likes-hear-iocn{

}
.account-details-item-no-comments-button{
    color: white;
    font-size: var(--font-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    gap: 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    transition: 0.2s ease-in-out;
}
.account-details-item-no-comments-button:hover{
    color: #00b5ff;
}
.account-details-item-no-comments-button.active{
    color: #00b5ff;
}

.account-details-item-no-comments-chat-iocn{
}
.account-details-item-description{
    font-size: var(--font-sm);
    width: 100%;
    justify-items: flex-start;
    margin: 0.5rem 0;
}
.account-details-item-comments-container{
    display: flex;
    flex-direction:column;
}
.account-details-item-comment{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    word-break: break-word;
}
.account-details-item-date-delete-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.account-details-item-date{
    color: #606060;
    font-size: var(--font-sm);
}
.account-details-item-delete-button{
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-sm);
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    transition: 0.2s ease-in-out;
}
.account-details-item-delete-button:hover{
    background-color: rgb(255,0,0,0.5);
}
.account-details-item-delete-button-icon{

}
.account-details-item-divider{
    border: none;
    border-top: 1px solid #ccc;
    margin: 0.5rem 0 1rem 0;
    width: 100%;
}
.account-details-item-divider-comments{
    border: none;
    border-top: 1px solid #ccc;
    width: 30%;
}