.delete-account-alert-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255,0.05);
    justify-items: center;
    align-content: center;
    z-index: 10000;
}

.delete-account-alert-content{
    background-color: black;
    width: auto;
    height: auto;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-account-alert-header{
    font-size: var(--font-md);
}
.delete-account-alert-header-success{
    font-size: var(--font-md);
    color: green;
}
.delete-account-alert-header-error{
    font-size: var(--font-md);
    color: red;
}

.delete-account-alert-message{
    margin-top: 0.3rem;
    font-size: var(--font-sm);
}

.delete-account-alert-close-button-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.delete-account-alert-close-button{
    margin-top: 0.8rem;
}
.delete-account-alert-input{
    font-size: var(--font-sm); /*11px*/
    border-radius: 20px;
    padding: 0.3rem 0.7rem;
    border: 1px solid white;
    width: 10rem;
    margin-top: 0.8rem;
}