:root {
    --font-sm: 1rem;       /* 16px */
    --font-md: 1.25rem;    /* 20px */
    --font-lg: 1.5rem;     /* 24px */
    --font-xl: 1.875rem;     /* 30px */
    --font-xxl: 2.5rem;
}
.icon-size{
    max-width: 1.5rem;
    min-width: 1.5rem;
    max-height: 1.5rem;
    min-height: 1.5rem;
}
/*TEXT FONTS*/
.kaushan-script-style {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto-style {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.input-reset {
    all: unset; /* removes all default browser styles */
    box-sizing: border-box;
}

.blue-button {
    margin: 0;
    /*font-size: 11px;*/
    /*font-size: 2vh;*/
    font-size: var(--font-sm);
    background-color: #00b5ff;
    min-height: 2.3rem;
    /*padding: 6px 10px;*/
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
    width: fit-content;
    transition: background-color 0.2s ease; /* Smooth transition */
}

.blue-button:hover {
    background-color: #007aae;
}

.grey-button {
    margin: 0;
    font-size: var(--font-sm);
    background-color: rgb(255, 255, 255, 20%);
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
    width: fit-content;
    transition: background-color 0.2s ease;
}

.grey-button:hover {
    background-color: rgb(255, 255, 255, 15%);
}

.black-button {
    margin: 0;
    font-size: var(--font-sm);
    background-color: black;
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
    border: 1px solid white;
    width: fit-content;
    transition: background-color 0.2s ease; /* Smooth transition */
}

.black-button:hover {
    background-color: #2b2b2b;
}

/*PAGE TRANSITIONS WHEN LOADING PAGES*/
.page-transition {
    animation: fadeSlideIn 200ms ease-in-out;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;

    }
}

/* Optional: Fade out when page leaves (if you manually control exit animations) */
.page-transition-exit {
    animation: fadeSlideOut 200ms ease-in-out;
}

@keyframes fadeSlideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*IN ORDER TO REMOVE ALL THE ION LIST DEFAULT CSS*/
.unstyled-ion-list {
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --margin-top: 0;
    --margin-bottom: 0;
    --ion-safe-area-top: 0;
    --ion-safe-area-bottom: 0;
    --ion-item-border-color: transparent;
    --ion-item-divider-border: none;
    --ion-item-background: none;

    padding: 0;
    margin: 0;
    border: none;
    background: none;
    box-shadow: none;
}

/*IN ORDER TO REMOVE ALL THE ION ITEM DEFAULT CSS*/
.unstyled-ion-item {
    --background: transparent;
    --color: inherit;
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;
    --border-width: 0;
    --inner-border-width: 0;
    --ripple-color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
    --detail-icon-color: transparent;
    --detail-icon-opacity: 0;
    --box-shadow: none;
    cursor: pointer;
}


.unstyled-ion-content {
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --margin-top: 0;
    --margin-bottom: 0;
    --ion-safe-area-top: 0;
    --ion-safe-area-bottom: 0;
    --ion-item-border-color: transparent;
    --ion-item-divider-border: none;
    --ion-item-background: none;

    padding: 0;
    margin: 0;
    border: none;
    background: none;
    box-shadow: none;

}

.custom-scroll-area {
    height: 100%;
    overflow-y: auto;
}

.custom-scroll-area::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.custom-scroll-area::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 8px;
}

ion-toast::part(message) {
    white-space: nowrap;
}
ion-toast::part(container) {
    max-width: fit-content;
    width: fit-content;
    min-width: fit-content;
    margin: 0 auto;
}

.green-text{
    color: green;
}

.red-text{
    color: red;
}