.kaushan-script-style{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto-style{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}