.view-all-accounts-list-container-content {
    width: 70vw;
    height: 100vh;
    margin-right: 0.3rem;
}
.view-all-accounts-list-container-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 850px) {
    .view-all-accounts-list-container-content{
        width: 85vw;
    }
}
.view-all-accounts-list-item-button{

}