.vertical-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-width: 15rem;
    height: 100%;
    margin: 0;
    border-right: 0.03rem solid rgb(255, 255, 255, 0.4);

}

.vertical-menu-top-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-menu-top-container-top {
    display: flex;
    padding-left: 1.2rem;
    flex-direction: row;
    gap: 0.4rem;
    justify-content: center;
    color: #00b5ff;
    font-size: var(--font-xl);
}

.vertical-menu-info-img {
    border-radius: 100%;
    transition: 0.1s ease-out;
}

.vertical-menu-info-img:hover {
    background-color: #2b2b2b;
    transition: 0.2s ease-in;
}

.vertical-menu-info-button {
    background-color: black;
    border-radius: 100%;
}

.vertical-menu-top-container-bottom {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.vertical-menu-container-search-bar {
    margin: 0.7rem 0;
    font-size: var(--font-sm);
    min-height: 1.8rem;
    width: 13rem;
    padding: 0 0.7rem;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1rem;
}

.vertical-menu-container-bottom-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
    gap: 0.4rem;
}

.vertical-menu-container-add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 2.3rem;
    max-height: 2.3rem;
    font-size: var(--font-sm);
    padding: 0.8rem 0.1rem 0.8rem 0.5rem;
}



.vertical-menu-container-view-button {
    font-size: var(--font-sm);
    max-height: 2.3rem;
    min-height: 2.3rem;
    padding: 0 0.7rem 0 0.7rem;

}

.vertical-menu-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.vertical-menu-container-logout-button {
    font-size: var(--font-sm);
    background-color: black;
    transition: 0.1s ease-in;

}

.vertical-menu-container-delete-account-button {
    background-color: black;
    font-size: var(--font-sm);
    transition: 0.1s ease-in;

}

.vertical-menu-container-logout-button:hover {
    color: #00b5ff;
}

.vertical-menu-container-delete-account-button:hover {
    color: #da0000;
}

.vertical-menu-container-bottom-conatiner {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 850px) {
    .vertical-menu-container {
        position: fixed;
        z-index: 1000;
        border: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    .vertical-menu-container.open {
        transform: translateX(0);
        visibility: visible;
        border: 0;
    }
    .vertical-menu-container-grey-background-for-hamburger-menu.open{
        width: 100%;
        height: 100%;
        background-color: rgb(255,255,255,0.1);
        position: fixed;
        z-index: 999;
    }
}

@media (min-width: 850px) {
    .vertical-menu-hamburger-container {
        display: none;
    }
}

@media (max-width: 850px) {
    .vertical-menu-hamburger-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        border-right: 0.03rem solid rgb(255, 255, 255, 0.4);
        padding: 0.3rem;
    }

    .vertical-menu-hamburger_image {
        width: 2rem;
    }

    .vertical-menu-hamburger-button {
        background-color: black;
        min-width: 1.2rem;
        min-height: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10%;
        transition: 0.15s ease-in;
        height: fit-content;
        width: fit-content;
        padding: 0 0.1rem ;
    }
    .vertical-menu-hamburger-button:hover{
        background-color: #353535;
    }

    .vertical-menu-hamburger-add-button {
        padding: 0;
        border-radius: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 2rem;
        min-height: 2rem;
    }

    .vertical-menu-hamburger-add-img {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        margin-top: 0.1rem;
    }

    .vertical-menu-hamburger-view-button {
        padding: 0;
        border-radius: 100%;
        min-width: 2rem;
        min-height: 2rem;
        transition: 0.1s ease-in;
    }

    .vertical-menu-hamburger-view-button:hover {
        background-color: #2b2b2b;
    }

    .vertical-menu-hamburger-view-img {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        margin-top: 0.1rem;
    }

    .vertical-menu-hamburger-info-button {
        background-color: black;
        width: 2rem;
        height: 2rem;
        transition: 0.1s ease-in;
        border-radius: 100%;
    }

    .vertical-menu-hamburger-info-button:hover {
        background-color: #2b2b2b;
    }

    .vertical-menu-hamburger-info-img {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
    }

    .vertical-menu-hamburger-empty-div {
        height: 100vh;
    }
}
